# Ignore Python Virtual Environment
venv/

# Ignore Node Modules
node_modules/

# Ignore Environment Variables & Secrets
.env

# Ignore Compiled Python Files
__pycache__/

# Ignore VS Code Settings (Optional)
.vscode/

# Ignore Logs & Temp Files
*.log
*.sqlite
db.sqlite3
.env
